<div class="keyboard">
  <button class="keyboard__button" data-key="q">q</button>
  <button class="keyboard__button" data-key="w">w</button>
  <button class="keyboard__button" data-key="e">e</button>
  <button class="keyboard__button" data-key="r">r</button>
  <button class="keyboard__button" data-key="t">t</button>
  <button class="keyboard__button" data-key="y">y</button>
  <button class="keyboard__button" data-key="u">u</button>
  <button class="keyboard__button" data-key="i">i</button>
  <button class="keyboard__button" data-key="o">o</button>
  <button class="keyboard__button" data-key="p">p</button>
  <button class="keyboard__button" data-key="a">a</button>
  <button class="keyboard__button" data-key="s">s</button>
  <button class="keyboard__button" data-key="d">d</button>
  <button class="keyboard__button" data-key="f">f</button>
  <button class="keyboard__button" data-key="g">g</button>
  <button class="keyboard__button" data-key="h">h</button>
  <button class="keyboard__button" data-key="j">j</button>
  <button class="keyboard__button" data-key="k">k</button>
  <button class="keyboard__button" data-key="l">l</button>
  <button class="keyboard__button" data-key="ñ">ñ</button>
  <button class="keyboard__button keyboard__button--special" data-key="enter">
    <i data-key="enter" class="fas fa-level-down-alt fa-rotate-90"></i>
  </button>
  <button class="keyboard__button" data-key="z">z</button>
  <button class="keyboard__button" data-key="x">x</button>
  <button class="keyboard__button" data-key="c">c</button>
  <button class="keyboard__button" data-key="v">v</button>
  <button class="keyboard__button" data-key="b">b</button>
  <button class="keyboard__button" data-key="n">n</button>
  <button class="keyboard__button" data-key="m">m</button>
  <button class="keyboard__button keyboard__button--special" data-key="backspace">
    <i data-key="backspace" class="fas fa-backspace"></i>
  </button>
</div>
